<form class="{{cssClass}} colorset-{{colorset}}" autocomplete="off">
	<div id="age-roller" class="flexcol">
        <div id="age-roller-drag"></div>
		<img src="systems/the-expanse/resources/imgs/ui-elements/cubes.svg">
	</div>
</form>